@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    
    
}
header{
    
    
    background-image: linear-gradient(to top, #35648C, #35648C, #1E3859);
    padding: 20px;
    margin-bottom: 50px;
    height: 200px;
    margin: auto;
    
    
    
}
header h1{
    text-align: center;
    color: white;
    font-size: 4vw;
    font-weight: bolder;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.445);
    padding-top: 30px ;
    padding-bottom: 98px;
    
}
header p{
    text-align: center;
    color: #283302;
    font-size: 1.5em;
}
nav#logo >a{ 
    
   
}
header a{
    text-decoration: none;
    color: #3A4010;
    font-weight: bolder;
    font-size: 1.5em;
    margin:    10px;
}
nav a:hover{
    background-color: #ACD7F2;
    color: #3E5915;
    
}

main{
    
}
main >h1{
    margin: auto;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 5px;
    font-size: 3em;
    background-color: #acd7f2c0;
    
}

aside h1{
    text-align: center;
    height: 30px;
    border-inline: 50px;
}

    

article{
    width: 45%;
    height: 50%;
    padding-bottom: 50px;
}
/*div#fora{
    position: relative;
    
    
    height: 130vh; /* Define a altura como 100% da altura da tela */
    
    /*height: 150vh;
    width: 98%;
    background-color: white;

    
    
   
}*/
div.container{
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    background-color: aliceblue;
    
}
div.box{
    
        min-width: 300px;
        max-width: 800px;
        width: 45%;
        height: 500px;
        
        margin: 30px;
        box-sizing: border-box;
        font-size: 20px;
        border-radius: 10px;
    
}
div#t1 >h2{
    padding-top: 5px;
    text-align: center;
}
div#t1 >p{
    text-align: justify;
    line-height: 1.5em;
    padding-top: 10px;

}
div#t2{
    background-image: url('img/jardi-pq.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
div#dentro{
    background-image: url('img/picina-pq.png');
    position: absolute;
    box-shadow: -10px 2px 5px rgba(0, 0, 0, 0.185);
    background-size: 100% 100%;
    height: 300px;
    width: 300px;
    background-color: black;
    left: 50%;
    top: 50%;

    transform: translate(100%, -66%);
}
div#t4{
    background-image: url('img/camp-pq.png');
    background-repeat: no-repeat;
    background-size: cover;
}
div#t5{
    padding: 20px;
    display: inline-block;
    background-color: #707317d7;
}
div#dentro{
    border-radius: 10px;
    
}
div#texto{
    position: absolute;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.096);
    text-indent: 25px;
    min-width: 600px;
    max-width: 800px;
    /*height: 700px;
    width: 500px;*/
    margin: 39px;
    
    
}
div#texto >h2{
    text-align: center;
    padding: 20px;
}
div#texto{
    
    font-family: 'Poppins';
    text-align: justify;
    
    
}
strong{
    color: #252617;
    
}


div#tela{
    position: relative;
    height: 130vh;
    background-color: #8ea6379d;

    
}
div#foto{
    position: absolute;
    background-image: url('img/jardi-pq.png');
    background-size: 100% 100%;
    border-radius: 10px;
    height: 600px;
    width: 600px;
    right: 50%;
    top: 10px;
    margin: 10px;
}
div#txt{
    position: absolute;
    font-family: 'Poppins';
    text-align: justify;
    min-width: 600px;
    max-width: 800px;
    left: 51%;
    top: 10px;
    margin: 10px;
}

div#foto{
    
    
    
}

div#txt{
    background-color: #548C1C;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    
}
div#txt > h1{
    margin: 10px;
}
div#txt >h2{
    margin: 10px;
}
div#txt >p{
    margin: 10px;
}

footer{
    background-color: #ACD7F2;
    height: 50px;
    padding: 10px;
    text-align: center;
}


header#teste >a{
    background-color: #852912;
}